# Configuration file for Smart Thermostat

# Passive sensors loop interval in seconds.
SENSORS_INTERVAL=60

# Backend loop interval in seconds.
BACKEND_INTERVAL=30

# Database URL
DATABASE_URL="sqlite:////var/lib/thermostat/thermostat.db"

# Broker configuration
BROKER_HOST="localhost"
BROKER_PORT=1883
BROKER_TOPIC="home-assistant"

DEVICE_ID="thermorasp"
DEVICE_NAME="Thermorasp"
